doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ホーム
    style.
      body {
        background-color: lightblue;
        }
  body
    a(href="/logout") ログアウト
    h1 YSのポートフォリオサイト
    h3 YSのポートフォリオサイトです。<br>作ったアプリや日記を不定期に載せます。
      <br>まだ勉強中なのであまり上手にできないですが<br>暇な人はみてください。
    a(href="/home/dairy") YSの日記